<%# 
  テンプレ
  const 変数名 = [
          {
            img:'./images/common/voice1.jpg',
            alt: 'alt',
            tag: 'STEP01'
            heading: 'タイトル',
            description: '説明文',
          },
        ]; 
 %> 
 <% for(let i in card4) { %>
  <article class="c-cards4__item c-card4">
    <div class="c-card4__img">
      <img src="<%- card4[i].img; %>" alt="<%= card4[i].alt; %>">
    </div>
    <div class="c-card4__body">
      <span class="c-card4__tag"><%= card4[i].tag; %></span>
      <h3 class="c-card4__heading"><%- card4[i].heading; %></h3>
      <p class="c-card4__description"><%- card4[i].description; %></p>
    </div>
  </article>
  <% }; %>