<% const imgPath = {
  common:'./images/common/',
  pc: './images/pc/',
  sp: './images/sp/',
}; %> 

<!DOCTYPE html>
<html lang="ja">
  <head
    prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# website: https://ogp.me/ns/website#"
  >
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>MELIA FITNESS</title>
    <!-- SEO系 -->
    <meta name="description" content="週一のトレーニングで人に見せたくなるカラダをつくる。 一流俳優・モデルを指導してきた本物のパーソナルトレーニング" />
    <meta
      name="keywords"
      content="理想的な体 リバンドしない キレイになった 食事制限なし ダイエット成功 期間限定無料体験キャンペーン パーソナルトレーニング"
    />
    <!-- OGP -->
    <meta property="og:title" content="MELIA FITNESS" />
    <meta property="og:site_name" content="MELIA FITNESS" />
    <meta property="og:description" content="週一のトレーニングで人に見せたくなるカラダをつくる。 一流俳優・モデルを指導してきた本物のパーソナルトレーニング" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tera-ono.website/personal-gim" />
    <meta property="og:image" content="https://tera-ono.website/personal-gim" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@keooooooooooooo" />
    <meta name="format-detection" content="telephone=no" />
    <!-- タッチアイコン -->
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon-180x180.png" />
    <link rel="shortcut icon" sizes="192x192" href="./images/icon-192x192.png" />
    <!-- ファビコン -->
    <link rel="icon" href="./images/favicon.ico" />
    <!-- クローラー -->
    <meta name="robots" content="noindex" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Allura&family=Lora:ital@1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body id="<%= pageId; %>">
    <header class="l-header p-header">
      <nav class="p-header__nav p-header-nav">
        <ul class="p-header-nav__items">
          <% navMenu1 = [
            {
              pass: 'owners',
              menu: 'OWNER’S PROFILE'
            },
            {
              pass: 'feature',
              menu: 'FEATURE'
            },
            {
              pass: 'members',
              menu: 'MEMBER’S VOICE'
            },
          ]; %>
          <% for(let i in navMenu1) {%> 
          <li class="p-header-nav__item">
            <a href="./<%= navMenu1[i].pass; %>.html"><%-  navMenu1[i].menu;  %></a>
          </li>
          <% } %> 

          <li class="p-header__logo c-logo">
            <% if (pageId === 'home'){ %>
              <h1><img src="<%- imgPath.common  %>logo.svg " alt="ロゴ"></h1>
            <% } else { %>
              <a href="/">
                <h1><img src="<%- imgPath.common  %>logo.svg " alt="ロゴ"></h1>
              </a>
            <% } %>
          </li>

          <% navMenu2 = [
            {
              pass: 'price',
              menu: 'PRICE'
            },
            {
              pass: 'qa',
              menu: 'Q&A'
            },
            {
              pass: 'access',
              menu: 'ACCESS'
            },
          ]; %>
          <% for(let i in navMenu2) {%> 
          <li class="p-header-nav__item">
            <a href="./<%= navMenu2[i].pass; %>.html"><%-  navMenu2[i].menu;  %></a>
          </li>
          <% } %> 

          <li class="p-header-nav__item p-header-nav__line">
            <a href="#" class="c-line-link">LINE予約</a>
          </li>
          <li class="p-header-nav__mobile js-mobile-menu">
            <button class="c-mobile-btn">
              <span class="c-mobile-btn__bar"></span>
              <span class="c-mobile-btn__bar"></span>
              <span class="c-mobile-btn__bar"></span>
            </button>
          </li>
        </ul>
      </nav> 

    </header>

    <nav class="c-drawer-menu js-drawer">
      <ul class="c-drawer-menu__items">
      <%# 配列を結合してドロワーメニュー %> 
      <% drawerMenu =[{pass: 'index', menu: 'TOP'}].concat(navMenu1).concat(navMenu2); %> 
      <% for(let i in drawerMenu) { %>
        <li class="c-drawer-menu__item js-drawer-link">
          <a href="./<%= drawerMenu[i].pass; %>.html "><%- drawerMenu[i].menu; %></a>
        </li>
      <% } %>
      <li class="c-drawer-menu__icons">
        <%- include('./_icons'); %>
      </li>   
      </ul>
    </nav>
