<% let pageId = 'feature'; %> 

<%- include('./common/_header.ejs', {
  pageId: pageId
}); %> 

  <main>
  <%# MVパーツ化 %> 
<% const featureMv = 
{
  title: 'MELIA FITNESSが選ばれる5つの特徴',
  sub: '',
}; %> 
<%- include('./common/_mv.ejs', { mv: featureMv }); %> 

<section class="l-feature p-feature">
  <div class="l-inner">
    <% let feature_heading = 'MELIA FITNESSは<br class="u-hidden-tab">そんな悩みをお持ちの方にこそ<br>ご利用していただきたい理由があります。'; %> 
    <%- include('./common/_primary_gold-heading.ejs',{ heading: feature_heading}); %> 

    <div class="p-feature__title-arrow">
      <span class="c-title-arrow"></span>
    </div>

    <%
      const feature = {
        main: 'FEATURE',
        sub: 'MELIA FITNESSが選ばれる5つの特徴'
      };
    %> 
    <div class="p-feature__title">
      <%- include('./common/_section-title-normal.ejs',{normal_title: feature }); %>
    </div>


    <% const featureCard = [
      {
        img:'./images/common/feature01.jpg',
        alt: '「人に見せたくなるカラダ作り」にこだわったトレーニング',
        heading: '「人に見せたくなるカラダ作り」に<br>　こだわったトレーニング',
        description: '体重を落とすだけではなく、人に見せたくなるカラダを目指したトレーニングをします。引き締まった魅力的なカラダになると、自信を持つことができます。',
      },
      {
        img:'./images/common/feature02.jpg',
        alt: 'お尻・太ももなどの部位を効率的に鍛える最先端マシンの導入',
        heading: 'お尻・太ももなどの部位を<br>効率的に鍛える最先端マシンの導入',
        description: 'お尻や太ももを引き締めるトレーニングをするためのヒップスラスターという最先端のマシンを導入。<br>女性の美尻をつくると有名なマシンです。',
      },
      {
        img:'./images/common/feature03.jpg',
        alt: '厳しい食事制限なし&トレーニングは週一～二回でOK',
        heading: '厳しい食事制限なし&<br>トレーニングは週一～二回でOK',
        description: '厳しい食事制限ではなく、正しい食事習慣を身に着けられるようにサポートします。<br>トレーニングは週1回、たったの50分でOKなので、仕事や家事が忙しくてもご利用いただけます。',
      },
      {
        img:'./images/common/feature04.jpg',
        alt: '確実に筋肉をつけるので<br>リバウンドと無縁',
        heading: '確実に筋肉をつけるので<br>リバウンドと無縁',
        description: 'リバウンドの多くの原因は筋肉が落ちてしまって基礎代謝がおちてしまうこと。MELIA FITNESSのプログラムは確実に筋肉をつけるのでリバウンドしにくい身体になれます。',
      },
      {
        img:'./images/common/feature05.jpg',
        alt: '"ボディメイクを楽しむ"がモットーなので楽しく続けられる',
        heading: 'ボディメイクを楽しむ"がモットー<br>なので楽しく続けられる',
        description: 'MELIA FITNESSはその方のなりたい体に合わせて、無理のない継続できるトレーニングを提案いたします。トレーニングと正しい食生活を継続すると、１～２か月で効果を感じていただけます。あなたの体が引き締まっていくのを感じると楽しく前向きに続けることができます。',
      },
    ]; %>   
    <div class="p-feature__cards">
      <%- include('./common/_card2.ejs', {card2: featureCard}); %>
    </div>

  </div>
</section>
<!-- /.l-feature p-feature -->

<%# こんな悩みありませんか セクション パーツ化 %> 
<%- include('./common/_section-worry.ejs'); %> 

<%- include('./common/_price_section.ejs'); %> 

<%- include('./common/_campaign_banner.ejs'); %> 

<%# フッター パーツ化(scriptタグも) %> 
<%- include('./common/_footer.ejs',{pageId: pageId}); %>  