<% let pageId = 'home'; %>
<%- include('./common/_header.ejs', { pageId: pageId }); %>
<main>
<%- include('./common/_mv.ejs', { pageId: pageId }); %> 

  <section class="l-voice p-voice">
    <div class="l-inner">
      <div class="p-voice__cards c-cards1">
        <% let card1 = [
          {
            img:'./images/common/voice1.jpg',
            heading: '理想的なカラダになれました！',
            description: 'マンツーマンの指導を受けることができ、自分のなりたい身体に合ったトレーニングができてとても良かったです。<br>2か月で理想の体型になることができました！',
          },
          {
            img:'./images/common/voice2.jpg',
            heading: 'リバウンドせずに体型維持できています！',
            description: '4か月前に目標の体重になってからなってからリバウンドもなく、今でもボディメイクを楽しんで続けられています。',
          },
        ]; %> 
        <% for(let i in card1) { %>
        <article class="p-cards1__item c-card1">
          <div class="c-card1__img">
            <img src="<%- card1[i].img; %>" alt="">
          </div>
          <div class="c-card1__body">
            <h3 class="c-card1__heading"><%= card1[i].heading; %></h3>
            <p class="c-card1__description"><%- card1[i].description; %></p>
          </div>
        </article>
        <% }; %>
      </div>
    </div>
  </section>
</main> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="./js/script.js"></script>
  </body>
</html>
