<% let pageId = 'home'; %>
<%- include('./common/_header.ejs', { pageId: pageId }); %>
<main>
<%- include('./common/_mv.ejs', { pageId: pageId }); %> 

  <section class="l-voice p-voice">
    <div class="l-inner">
      <h2 class="p-voice__heading">トレーニングを受けた会員様からこんな声が届いています。</h2>
      <div class="p-voice__cards c-cards1">
        <% const voiceCard = [
          {
            img:'./images/common/voice1.jpg',
            heading: '理想的なカラダになれました！',
            alt: '38歳 会社員 女性',
            description: 'マンツーマンの指導を受けることができ、自分のなりたい身体に合ったトレーニングができてとても良かったです。<br>2か月で理想の体型になることができました！',
            name: '38歳 会社員 女性',
          },
          {
            img:'./images/common/voice2.jpg',
            alt: '42歳 会社経営 女性',
            heading: 'リバウンドせずに体型維持できています！',
            description: '4か月前に目標の体重になってからなってからリバウンドもなく、今でもボディメイクを楽しんで続けられています。',
            name: '42歳 会社経営 女性',
          },
          {
            img:'./images/common/voice3.jpg',
            alt: '32歳 専業主婦 女性',
            heading: '周りから“キレイになった”と言われます！',
            description: 'トレーニングをしてメリハリのある体になると、家族や友人から「とてもキレイになった」と褒めてもらえるように。<br>ボディメイクをきっかけに自信が持てるようになりました。',
            name: '32歳 専業主婦 女性',
          },
        ]; %> 
        <%- include('./common/_card1.ejs', {card1: voiceCard}); %> 
      </div>
    </div>
  </section>



  <% const profile = {
    main: 'OWNER’S PROFILE',
    sub: '代表プロフィール'
  }; %> 
  <%- include('./common/_section-title-normal.ejs', {normal_title: profile}); %> 

  <% const access = {
    main: 'ACCESS',
    sub: 'アクセス',
  }; %> 
  <%- include('./common/_section-title-line.ejs', {line_title: access}); %> 

  <% const featureCard = [
    {
      img:'./images/common/feature01.jpg',
      alt: '「人に見せたくなるカラダ作り」にこだわったトレーニング',
      heading: '「人に見せたくなるカラダ作り」に<br>こだわったトレーニング',
      description: '体重を落とすだけではなく、人に見せたくなるカラダを目指したトレーニングをします。引き締まった魅力的なカラダになると、自信を持つことができます。',
    },
    {
      img:'./images/common/feature02.jpg',
      alt: 'お尻・太ももなどの部位を効率的に鍛える最先端マシンの導入',
      heading: 'お尻・太ももなどの部位を<br>効率的に鍛える最先端マシンの導入',
      description: 'お尻や太ももを引き締めるトレーニングをするためのヒップスラスターという最先端のマシンを導入。<br>女性の美尻をつくると有名なマシンです。',
    },
    {
      img:'./images/common/feature03.jpg',
      alt: '厳しい食事制限なし&トレーニングは週一～二回でOK',
      heading: '厳しい食事制限なし&<br>トレーニングは週一～二回でOK',
      description: '厳しい食事制限ではなく、正しい食事習慣を身に着けられるようにサポートします。<br>トレーニングは週1回、たったの50分でOKなので、仕事や家事が忙しくてもご利用いただけます。',
    },
    {
      img:'./images/common/feature04.jpg',
      alt: '確実に筋肉をつけるので<br>リバウンドと無縁',
      heading: '確実に筋肉をつけるので<br>リバウンドと無縁',
      description: 'リバウンドの多くの原因は筋肉が落ちてしまって基礎代謝がおちてしまうこと。MELIA FITNESSのプログラムは確実に筋肉をつけるのでリバウンドしにくい身体になれます。',
    },
    {
      img:'./images/common/feature05.jpg',
      alt: '"ボディメイクを楽しむ"がモットーなので楽しく続けられる',
      heading: 'ボディメイクを楽しむ"がモットー<br>なので楽しく続けられる',
      description: 'MELIA FITNESSはその方のなりたい体に合わせて、無理のない継続できるトレーニングを提案いたします。トレーニングと正しい食生活を継続すると、１～２か月で効果を感じていただけます。あなたの体が引き締まっていくのを感じると楽しく前向きに続けることができます。',
    },
  ]; %>   
  <%- include('./common/_card2.ejs', {card2: featureCard}); %>

  <% const membersVoice = [
    {
      img:'./images/common/member-voice01.jpg',
      alt: '引き締まったメリハリボディになれました！',
      heading: '引き締まったメリハリボディになれました！',
      name: '43歳 会社員 女性',
      description: '自己流のダイエットでは体重は落ちても、なぜか体型はだらしないままで、少し時間が経つとリバウンドをしてしまっていました。<br>MELIA FITNESSでマンツーマンのトレーニングを受けて、リバウンド知らずの引き締まった身体を維持できています。<br>週1のトレーニングで無理なく通うことができ、楽しく続けることができています。<br>MELIA FITNESSを選んで良かったです！',
    },
    {
      img:'./images/common/member-voice02.jpg',
      alt: '引き締まったメリハリボディになれました！',
      heading: '36歳 公務員 女性',
      name: '36歳 公務員 女性',
      description: '前からジムに通っていましたが、ダイエットはいつも途中で挫折してしまっていたのでプロのトレーナーの方から教わりたいと思い、MELIA FITNESSを利用しました。<br>自分の目指している身体に合わせて、トレーニングや食生活について提案をしてくださるので、理想的なボディメイクができたと思っています。<br>今ではボディメイクをとても楽しく感じるようになりました。',
    },
    {
      img:'./images/common/member-voice03.jpg',
      alt: '32歳 会社員 女性',
      heading: 'ダイエットに成功しました！',
      name: '32歳 会社員 女性',
      description: '運動をほぼしたことがなく、トレーニングは厳しいものというイメージがあり、最初は不安でしたが、トレーナーの方に丁寧にトレーニング方法を教えていただくことができ、無理なく楽しく取り組めました。<br>２か月で目標体重になり、身体も引き締まり、ダイエットに成功しました。<br>ダイエットに成功すると同時に、健康な身体を手に入れることが出来たと思います。',
    },
  ]; %> 
  <%- include('./common/_card3.ejs', {card3: membersVoice}); %> 

  <% const flow = [
    {
      img:'./images/common/flow01.jpg',
      alt: 'カウンセリング',
      tag: 'STEP01',
      heading: 'カウンセリング',
      description: 'まずはカウンセリングでお体の状態やライフスタイルをお伺いし、今後の流れをご説明いたします。',
    },
    {
      img:'./images/common/flow02.jpg',
      alt: '測定・メニュー提案',
      tag: 'STEP02',
      heading: '測定・メニュー提案',
      description: '体組成計で現在の身体の状態を確認します。その後、理想の身体になるためのトレーニングメニューをご提案させていただきます。',
    },
    {
      img:'./images/common/flow03.jpg',
      alt: 'トレーニング',
      tag: 'STEP03',
      heading: 'トレーニング',
      description: '専属のトレーナーがマンツーマンであなたのなりたい身体に合わせたトレーニングをサポートいたします。',
    },
  ]; %> 

  <div class="c-cards4">
    <%- include('./common/_card4.ejs', {card4: flow}); %> 
  </div>
</main> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="./js/script.js"></script>
  </body>
</html>
