<% let pageId = 'owners'; %> 

<%- include('./common/_header.ejs', {
  pageId: pageId
}); %> 

  <main>
  <%# MVパーツ化 %> 
<% const ownersMv = 
{
  title: 'パーソナルトレーナーをして<br>1000人以上の肉体改造に成功。',
  sub: 'YouTubeで1000万回再生された動画を持つ、<br>筋トレインフルエンサーとしても活動しいます',
}; %> 
<%- include('./common/_mv.ejs', { mv: ownersMv }); %> 

<section class="l-owner p-owner">
  <div class="p-owner__inner l-inner">

    <%# 普通のタイトル・サブタイトル パーツ化 %> 
    <% const profile = {
      main: 'OWNER’S PROFILE',
      sub: '代表プロフィール'
    }; %> 
    <%- include('./common/_section-title-normal.ejs', {normal_title: profile}); %> 

    <article class="p-owner__profile">
      <div class="p-owner__img">
        <img src="./images/common/owner.jpg" alt="代表 Kailani">
      </div>
      <div class="p-owner__body">
        <div class="p-owner__info">
          <span class="p-owner__name">Kailani</span>
          <%# SNSアイコンリンク パーツ化 %> 
          <%- include('./common/_icons.ejs'); %> 
        </div>
        <p class="p-owner__text">
          出産を機に激太りし、様々0なダイエット法を試し、失敗を繰り返した過去を持つ。<br>その後、筋トレや食事改善によってダイエットに成功。<br>自身の経験を活かし、現在はパーソナルトレーナーをしており、これまで1000人以上の肉体改造に成功。<br>またYouTubeで1000万回再生された動画を持つ、筋トレインフルエンサーとしても活動している。<br>YouTubeやInstagramではトレーニングやダイエットに良い食事法を発信している。
        </p>
      </div>
    </article>
    <div class="p-owner__message p-owner-message">
      <h4 class="p-owner-message__title">Message</h4>
      <p class="p-owner-message__text">
        MELIA FITNESSではあなたに合った身体の動かし方や食生活の大切さをプロのトレーナーがマンツーマンでサポートいたします。<br>継続することができて挫折しないボディメイク・ダイエットに自信があります。<br>ぜひMELIA FITNESSで身体づくりの素晴らしさを体験してください。
      </p>
    </div>
  </div>
</section>
<!-- /.l-owner p-owner -->

<%# こんな悩みありませんか セクション パーツ化 %> 
<%- include('./common/_section-worry.ejs'); %> 

<%- include('./common/_price_section.ejs'); %> 

<%- include('./common/_campaign_banner.ejs'); %> 

<%# フッター パーツ化(scriptタグも) %> 
<%- include('./common/_footer.ejs',{pageId: pageId}); %>  